* {
  scrollbar-width:none;
  scrollbar-color: #0056b3  #F0EBE1;
}
@font-face {
    font-family: 'dana-regular';
    src: url('./fonts/dana-regular.woff') format('woff');
}
body {
    font-family:'dana-regular' ;
    width: 99%;
    max-width: 1380px;
  margin:  auto;
  background-color: #F0EBE1;
 }

.navbar {
    display: flex;
    align-items: center;
    border: solid 1px lightgray;
    border-radius: 50px;
   margin: 5px;
   width: 99%;
   max-width:1350px ;
    background-color: #F0EBE1;
}
@media (max-width:700px) {
    .navbar {
        border: none;
        background-color: #F0EBE1;
    }    
}
.logo img {
    width: 40px;
    margin-right: 20px;

}
@media (max-width:700px) {
    .logo img {
        width: 30px;
    }
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    display: inline;
    margin: 2px;
}

.nav-links a {
    color:black;
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
@media (max-width:700px) {
    .nav-links a {
    font-size: 10px;
    padding: 9px;
    }
    
}
.nav-links a.home {
    border-bottom: 3px green solid;
}

.nav-links a:hover {
    background-color: #575757;
    color: #F0EBE1;
    border-radius: 4px;
}
.nav-links a.home:hover {
    background-color: green;
}
/* home */
.container {
    text-align: center;
    border: 1px solid #ccc;
    height: 480px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    background-image: url(./img/food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container img {
    margin-top: 50px;
 
}
.center-text {
    color: #F0EBE1;
    font-size: 20px;
}

.center-button {
    display: inline-block;
    font-family: 'dana-regular';
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F29C33;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.center-button:hover {
    background-color: #0056b3;
}
/* blue part */
.container-blue {
    display: flex;
    margin-top: 20px;
margin-bottom: 20px;
    flex-wrap: wrap;
    border-radius: 40px;
    background-color: #C4E5FC;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    line-height: 40px;
  }
  
  @media (max-width: 700px) {
    .column {
      flex: 100%;
    }
  }
  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    border-radius: 8px;
    width: 100%;
}

li.list {
    padding: 10px;
    border-bottom: 1px solid darkgray;
    position: relative;
    transition: background-color 0.3s ease;
}
li.list:hover {
    background-color: #0056b3;
    cursor: pointer;
    border-radius: 5px;
}
li:last-child {
    border-bottom: none;
}

.logos {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px; /* Position logo to the left for RTL text */
    top: 50%;
    transform: translateY(-50%);
}

/*carousel*/
  /* PRODUCTS */
  .product {
    position: relative;
    padding: 15px;
    background-color:transparent;
    overflow: hidden;
  }


  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
  

  }
  
  .product-container {
    padding:5px;
    overflow: auto;
    display: flex;
    scrollbar-color: #0056b3  #F0EBE1;
    scrollbar-width:thin;
  }
  






  .product-card {
    flex: 0 0 auto;
    width: 45%;
    height: 400px;
    margin:10px;
    text-align: center;
  }
  @media (max-width:700px) {
  .product-card , .product-card h2 {
    width: 150px;
    font-size: 15px;
    
  }  
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    font-family:'dana-regular' ;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #0056b3;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }


 /* safar */
 .safar 
 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
 }
 
 .containerDOM {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 50px;
}

.filter-btn {
  background-color: #ccc;
  border: none;
  font-family:'dana-regular';
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.filter-btn.active, .filter-btn:hover {
  background-color: green;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.recipe {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
}

.recipe h3 {
  margin: 10px 0;
}

.recipe p {
  color: #555;
  font-size: 15px;
  line-height: 22px;
}

.view-recipe {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.view-recipe:hover {
  background-color: #0056b3;
}
/* about us */
.containerabout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px;
}

.column2 {
  box-sizing: border-box;
  padding: 30px;
  width: 50%;
  height: 400px;

}
.column2 h2 {
  color: #ff7d7d;
}
.column2 h1 {
  color: gray;
}
.column2 p {
  color: #F29C33;
  font-size: 20px;
}
.column2 a {
  border: 1px solid gray;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  color: #575757;
}
.column2 a:hover {
  color: green;
}

.left-column {
  background-color: #f4f4f4;
  border-top-right-radius: 20px;
    padding: 20px;

}

.right-column {
  border-top-left-radius: 20px;
  background-image: url(./img/screen.jpg);
}


/* Responsive Styles */
@media (max-width: 768px) {
  .column2 {
      width: 100%;
  }
}
.email {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 10px;
  font-family:'dana-regular' ;
  background-color: #FF6653;
  margin-top: 50px;
}

.email input {
  width: 40%;
  height: 25px;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  font-family:'dana-regular' ;
 
}

.email button {
  border: solid 2px gray;
  background-color:#C4E5FC;
  padding: 10px;
  border-radius: 10px;
  font-family:'dana-regular' ;

}
.email button:hover {
  background-color: aquamarine;
}

